/* VARIABLES */
:root {
  /* variables */
}

/* GENERAL */
html, body {
  font-size: 14px;
  overflow-x: hidden;
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 16px;
  }
}

#logo {
  width: 50%;
  margin-top: 5rem;
}

#header {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 5rem;
  color: darkmagenta;
}

/* SMALL SCREENS AND iPad PRO */
@media screen and (max-width: 1199px) {}

/* VERY SMALL SCREENS AND LARGE TABLETS */
@media screen and (max-width: 991px) {}

/* TABLETS */
@media screen and (max-width: 768px) {}

/* SMARTPHONES (portait) */
@media screen and (max-width: 576px) {
  #logo {
    width: 90%;
  }
}
