<footer>
  <div class="container">
    <div class="row pt-5rem pb-4">
      <div class="col-12 col-md-4 text-center">
        <ul class="footer-site-map text-center text-md-left">
          <li><a href="/">HOME</a></li>
          <li><a href="/chi-sono">CHI SONO</a></li>
          <li><a href="/servizi">SERVIZI</a></li>
          <li><a href="/contatti">CONTATTI</a></li>
          <li><a href="/sitografia">SITOGRAFIA</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 text-center">
        <a href="/">
          <img id="footer-logo" src="/img/logo.svg" alt="Logo">
        </a>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="row">
          <div class="col-12 mb-5">
            <h4 class="color-wine weight-900">SEGUIMI SU</h4>
            <div class="icons">
              <a href="https://instagram.com/valentinamaistri_ostetrica" title="@valentinamaistri_ostetrica">
                <i class="fab fa-instagram icon"></i>
              </a>
              <a href="https://www.facebook.com/valentinamaistriostetrica/" title="valentinamaistriostetrica">
                <i class="fab fa-facebook-square icon"></i>
              </a>
            </div>
          </div>
          <div class="col-12">
            <h4 class="color-wine weight-900">CONTATTAMI</h4>
            <div class="icons">
              <a href="mailto:valentinamaistriostetrica@gmail.com" title="valentinamaistriostetrica@gmail.com">
                <i class="far fa-envelope icon"></i>
              </a>
              <a href="tel:+393403209016" title="+393403209016">
                <i class="fas fa-phone icon"></i>
              </a>
            </div>
            <div class="address mt-5 color-wine">
              <p>Studio e domicilio </p>
              <p>FISIOCIRIE’2000 -	Via Mazzini 4/8, 10073 Ciriè (TO)</p>
              <p>	VITTORIO EMANUELE STUDIO OSTEOPATICO	- Corso Vittorio Emanuele II 2, 10123 Torino (TO)</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="wine">
    <div class="row py-4">
      <div class="col-12 d-flex flex-column flex-md-row align-center justify-content-between text-center">
        <p class="color-wine">P.IVA Valentina Maistri 02576090225</p>
        <p class="color-wine">&copy; <span class="cc-year"></span> ValentinaMaistriOstetrica.it</p>
      </div>
    </div>
  </div>
</footer>
