<nav class="navbar navbar-expand-xl navbar-light ec-navbar">
  <a class="navbar-brand" href="/">
    <img id="navbar-logo" src="/img/logo.svg" alt="Valentina Maistri">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="d-flex flex-column ml-auto text-right">
      <h1 id="nabvar-title">ambulatorio ostetrico</h1>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 links">
        <li class="nav-item">
          <a class="nav-link" href="/chi-sono">CHI SONO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servizi">SERVIZI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contatti">CONTATTI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/informarsi">INFORMARSI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
